body {
    padding: 0;
    margin: 0;
    background-color: #93a3ff;
    font-family: sans-serif;
    overflow-x: hidden;
}

  #searchBox {
    margin-top: 15px;
    left: 575px;
    height: 30px;
    width: 150px;
    font-family: sans-serif;
  }

  #searchButton {
    margin-top: 15px;
    left: 575px;
    height: 36px;
    width: 60px;
  }

  button {
    color: black;
  }

  .weatherFrame, .attractionFrame {
    position: relative;
    text-align: center;
    margin-top: 5%;
    max-width: 400px;
    background: #ffffff;
    border: 1px solid;
    box-shadow: 2px 4px;
    padding: 5px;
    z-index: -99;
  }

  #centerDiv {
    padding: 5%;
  }

  #city, p, .h3 {
    color: black;
  }

  h2 {
    margin: 0;
    padding: 100px 0;
    font-size: 44px;
    text-align: center;
    color: #ffffff;
  }

    /* container for weather and attractions divs */
  .weather {
    margin: auto;
    min-width: 200px;
    width: 100%;
    padding: 10px;
    justify-content: space-evenly;
    justify-content: center;
  }


  h3 {
    font-size: 30px;
    color: #ffffff;
  }